<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
  <%- include('./partial/nav') %>
  <h1>Restaurant name: <%= restaurant.name %></h1>
  <h1>Restaurant phone: <%= restaurant.phone %></h1>
  <h1>Restaurant address: <%= restaurant.address %></h1>  
</body>
</html>
